.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(103, 116, 82);  
   width: 25vw;
   height: 30vh;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   padding: 1vh;
   margin: 3%;
   border-radius: 5px;
   color: rgb(237, 244, 213);
}