.header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 1%;
     /* background-color: rgb(53, 60, 24); */
     min-width: 100vw;
     background-image: linear-gradient(rgb(53, 60, 24), rgb(76, 100, 46));
}


button {
     margin: 1vw;
     height: 5vh;
     background-color:  rgb(183, 178, 21);
     border-radius: 4px;
     box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
     box-sizing: border-box;
     color: rgb(1, 1, 0);
     cursor: pointer;
     font-size: 16px;
     font-weight: 500;
     outline: none;
     outline: 0;
     padding: 10px 25px;
     text-align: center;
     transform: translateY(0);
     transition: transform 150ms, box-shadow 150ms;
     touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}
   


.logo {
     margin-left: 2vw;
     color:  rgb(183, 178, 21);
     text-decoration: none;
     font-size: 5vh;

}

.links {
     margin-right: 2vw;
     
}
