.header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 1%;
     background-color: rgb(66, 73, 45);
     min-width: 100vw;

}

button {
     margin: 1vw;
     height: 5vh;
     border: none;
     background-color: rgb(184, 184, 92);
     color: rgb(38, 18, 18);
     border-radius: 10px;
     min-width: 13vw;
     box-shadow: 1px 1px 6px 0px #202523;
   
}

.logo {
     margin-left: 2vw;

}

.links {
     margin-right: 2vw;
     
}
